{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Food Truck Owner Signup</title>
</head>
<body>
<section class="d-flex align-items-center justify-content-center pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="display-4 text-center">Pricing Plans</p>
                <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
                <stripe-pricing-table pricing-table-id="prctbl_1OZOxrJSBSqF67oIfRpR6qlg"
                                      publishable-key="pk_test_51MMgy7JSBSqF67oIu1kE8UrVYdl3G6gVBYUxyau5FjBDoIhI83PwhykERMPdXDINMmPQij4Av3KkjoQTOHL75Q3a00NKECItOJ">
                </stripe-pricing-table>
            </div>
        </div>
    </div>
</section>
</body>
</html>