{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Food Truck Owner Signup</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="food_truck_name" class="form-label">Food Truck Name</label>
            <input name="food_truck_name" type="text" class="form-control" id="food_truck_name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>